extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/game.css')
block append body
  body
    div(class="buttons-to-add")
      form(action=`/games/${game.id}/add`, method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        div.add-to-owned-games
        input.add-button-style(type='submit' value='Add to Owned Games')
      form(action=`/games/${game.id}/delete`, method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        div.delete-from-owned-games
        input.add-button-style(type='submit' value='Remove from Owned Games')
    div(class='game-stuff')
      h2.game-title #{game.name}
      img.game-img(src=game.gameImage)
      p.description #{game.description}


    each rack in myRacks
      form(action=`/games/${game.id}/${rack.id}/add`, method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type="hidden" name="rackId" value=rack.id)
        //- input(type="hidden" name="gameId" value=game.id)
        //- p(name="myRacks" required)
        //-     p #{rack.name}
        a.game-rack-link(name="rackId" href=`/my-game-racks/${rack.id}` style="color:black") #{rack.name}
          div
          button.add-button-style(id="this-button") Add to this Rack




    div(class='all-review-stuff')
      div(class='write-a-review')
        h2.game-reviews #{game.name} Reviews
            form(action=`/games/${game.id}/review/add`, method="post") Write a Review!
              input(type='hidden' name='_csrf' value=csrfToken)
              textarea(name="review" id="review")
              button.add-button-style Submit
        each review in reviews
          p #{review.User.username}
          p #{review.review}
          p #{review.updatedAt}
          - if(review.User.username == user.username)
              form(action=`/games/${game.id}/review/${review.id}/delete`, method="post")
                input(type='hidden' name='_csrf' value=csrfToken)
                button.add-button-style Delete
          - if(review.User.username == user.username)
              form(action=`/games/${game.id}/review/${review.id}/update`, method="post")
                input(type='hidden' name='_csrf' value=csrfToken)
                textarea(name="updatedReview" id="updatedReview") #{review.review}
                button.add-button-style Edit


block append footer
//-
