extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/game.css')
block append header
  body
    h2.game-reviews #{game.name} Reviews
    form(action=`/games/${game.id}/add`, method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div.add-to-game-rack
      input(type='submit' value='Add to Game Rack')
    form(action=`/games/${game.id}/delete`, method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div.add-to-game-rack
      input(type='submit' value='Remove from Game Rack')
    h2.game-title #{game.name}
    img.game-img(src=game.gameImage)
    p.description #{game.description}
    h4.rating Average Rating:
    form(action="/reviews/#{review.id}/add", method="post")
      div.add-review
        input(type='submit' value='Write A Review!')
    .review-zone
      p.user-name-review User Name (not working)
              //-   p.user-name-review #{user.name}
      p.review User review of Game (not working)

              //-   p.first-review #{reviews}
      if auth
        //- form(action=`/reviews/${review.id}/edit`, method="post")
        //-   div.edit-review
        //-   input(type='submit' value='Edit Your Review')
        //- form(action=`/reviews/${review.id}/delete`, method="post")
        //-   input(type='hidden' name='_csrf' value=csrfToken)
        //-   div.delete-review
        //-   input(type='submit' value='Delete Your Review')
block append footer
