extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/game.css')
block append header
  body
    h2.game-reviews #{game.name} Reviews
    each review in reviews
      p #{review.User.username}
      p #{review.review}
      p #{review.updatedAt}
    form(action=`/games/${game.id}/add`, method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div.add-to-owned-games
      input(type='submit' value='Add to Owned Games')
    form(action=`/games/${game.id}/delete`, method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div.delete-from-owned-games
      input(type='submit' value='Remove from Owned Games')
    h2.game-title #{game.name}
    img.game-img(src=game.gameImage)
    p.description #{game.description}
    //- h4.rating Average Rating:
    form(action=`/games/${game.id}/review/add`, method="post") Write a Review!
      input(type='hidden' name='_csrf' value=csrfToken)
      textarea(name="review" id="review")
      button submit
    .review-zone
      p.user-name-review User Name (not working)
              //-   p.user-name-review #{user.name}
      p.review User review of Game (not working)

              //-   p.first-review #{reviews}
      if auth
        //- form(action=`/reviews/${review.id}/edit`, method="post")
        //-   div.edit-review
        //-   input(type='submit' value='Edit Your Review')
        //- form(action=`/reviews/${review.id}/delete`, method="post")
        //-   input(type='hidden' name='_csrf' value=csrfToken)
        //-   div.delete-review
        //-   input(type='submit' value='Delete Your Review')
block append footer
