html
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/game.css')
    title GGs - #{game.name}
  header
    nav
      p.logo #[span G]Gs - #[span Good]Games
      div(class="nav-bar-buttons")
        a.home(href="/") Home
        a.mygames(href="/games-racks") My Games
        a.browsegames(href="/games") Browse Games
  body
    h2.game-reviews #{game.name} Reviews
    form(action=`/games/${game.id}/add`, method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div.add-to-game-rack
      input(type='submit' value='Add to Game Rack')
    form(action=`/games/${game.id}/delete`, method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div.add-to-game-rack
      input(type='submit' value='Remove from Game Rack')
    h2.game-title #{game.name}
    img.game-img(src=game.gameImage)
    p.description #{game.description}
    h4.rating Average Rating:
    form(action="/reviews/#{review.id}/add", method="post")
      div.add-review
        input(type='submit' value='Write A Review!')
    .review-zone
      p.user-name-review User Name (not working)
              //-   p.user-name-review #{user.name}
      p.review User review of Game (not working)

              //-   p.first-review #{reviews}
      if auth
        //- form(action=`/reviews/${review.id}/edit`, method="post")
        //-   div.edit-review
        //-   input(type='submit' value='Edit Your Review')
        //- form(action=`/reviews/${review.id}/delete`, method="post")
        //-   input(type='hidden' name='_csrf' value=csrfToken)
        //-   div.delete-review
        //-   input(type='submit' value='Delete Your Review')
  footer
    div.footer
      a.about-us(href="/about-us") #[span ABOUT] US
      p.goodgames-inc #[span © 2022 G]Gs - #[span Good]Games, Inc.
