doctype html
html
  head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/home.css')
    title GGs - #{title}
  header
    nav
      p.logo #[span G]Gs - #[span Good]Games
      div(class="nav-bar-buttons")
        a.home(href="/home") Home
        a.mygames(href="/games-racks") My Games
        a.browsegames(href="/games") Browse Games
        a.login(href="/users/login") Log In
        a.signup(href="users/signup") Sign Up
        form(action="/users/logout" method="post")
            input(type='hidden' name='_csrf' value=csrfToken)
            div.logout 
            input(type='submit' value='Log Out')
  body
    h1.username #{user.username}
    h2.usergameracks #{user.username}'s Gameracks
    a(href="/games-racks") gamerack
    h2.userreviews #{user.username}'s Reviews
    h3.userfavoritegames #{user.username}'s Favorite Games
    h3.userfavoritegenres #{user.username}'s Favorite Game Genres

  footer
    div.footer
        a.about-us(href="/about-us") #[span ABOUT] US
        p.goodgames-inc #[span © 2022 G]Gs - #[span Good]Games, Inc.
