extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/home.css')
block append header
  body
    h1.username #{user.username}
    h2.usergameracks #{user.username}'s Owned Games
    a(href="/games-racks") Owned Games
    h2.userreviews #{user.username}'s Reviews
    h3.userfavoritegames #{user.username}'s Favorite Games
    h3.userfavoritegenres #{user.username}'s Favorite Game Genres

block append footer
