extends layout.pug
block append head
    link(rel='stylesheet' href='/stylesheets/home.css')
block append header
  body
    h1.username #{user.username} - Home 
    h2.usergameracks #{user.username} - Owned Games
    form(action=`/home/add`, method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        div.create-gamerack
        input(type='text' value='New Gamerack Name')
    h2.userreviews #{user.username} - Reviews
    h3.userfavoritegames #{user.username} - Favorite Games
    h3.userfavoritegenres #{user.username} - Favorite Game Genres

block append footer
