extends layout.pug

block append head
  link(rel='stylesheet' href='/stylesheets/my-game-rack.css')
block append header
  body
    br
    h1.welcome Welcome #{user.username}! This is your #{rackInfo.name} Gamerack!
    br
    each game in games
      h3.game-title #{game.name}
      img.game-image(src=`${game.gameImage}`, alt="game image cover")
      p.game-description #{game.description}
        form(action=`/my-game-racks/${rackInfo.id}/${game.id}/delete`, method="post")
          button(id="This-Is-My-Button" type="submit") Remove This Game
      br
block append footer

    //- form(action=`/my-game-racks/${rackInfo.id}`, method="post")
    //-   input(type='hidden' name='_csrf' value=csrfToken)
    //-   div.delete-gamerack
    //-   button Delete Game Rack
